* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    
}

body{
    margin: 0;
    padding: 0;
    background: #0e0d0df5;
    width: 100%;
    overflow-x: hidden;
   

}

span{
    display: block;
    font-size: 1rem;
}


.header{
    display: flex;
    background: #000000;
    height: 100px;
    padding: 20px;
    text-align: center;
}

.nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 0 32px;
}

#logo{
   color: white;
   display: flex;
  justify-content: space-between;
   text-shadow: 5px 5px 5px #000000;
   font-size: 2.5rem;
}

.nav-link{
    color: white;
    text-shadow: 5px 5px 5px #000000;
    font-size: 1.5rem;
}

.upcoming-bar{
    position: relative;
    height: 300px;
    min-height: 0px;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    margin: 0px;
    padding:0%;

    font-size: 1.7rem;

  

    overflow: hidden;
}

#bg-video{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 85%;

    object-fit: cover;
    z-index: -1;
}

#session-title{
    color: white;
}

#session-name{
   color: white;
}

.clock{
    display: flex;
   text-align: center;
   font-size: 2rem;
    margin-top: 30px;
   justify-content: space-around;
   flex-direction: row;
   

   color: white;
    text-shadow: 5px 5px 5px #000000;
}

#calendar-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    

    grid-gap: 50px;
   

}

.card-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    width: 100%;
    height: 100%;
    background: #ebe9e9;
}
    
.round{
    font-size: 1.5rem;
}


.race-date{
    text-align: center;
    position: relative;
    font-size: 1.3rem;
  
}

.location{
    text-align: center;
    margin-top: 80px;
    margin-right: 20px;
    font-size: 3.8rem;
    overflow: auto;
}

h1{
    color: white;
}

h2{
    margin: 20px 0;
    font-size: 3rem;
    color: white;
    text-align: start;
    text-shadow: 3px 3px 3px #000000;
}

.footer-bar{
    margin: 0;
    background: black;
    height: 10vh;
    padding: 20px;

}

@media (max-width: 900px) {
    #calendar-container {
        grid-template-columns: repeat(auto-fit);
    }
}

@media (max-width: 300px) {
    #calendar-container {
        grid-template-columns: 1fr;
    }

    .header{
        min-height: 100px;
        height: 100px;
        padding: 15px;
    }

    .nav{
        gap: 15px;
    }

    .nav-link{
        font-size: 2rem;
    }
       
    #logo{
        font-size: 2.5rem;
    }  
    
    .location{
        font-size: 2rem;
    }

    .upcoming-bar{
        width: 100%;
        min-height: 300px;
        height: 300px;
    }

    .footer-bar {
        min-height: 100px;
        height: 100px;
    }

    span{
        font-size: 24px;
    }

    h2{
        font-size: 2rem;
        margin: 20px 0;
    }
    

}

